/* #1AFCFF teal blue */

a {
  position: relative;
  z-index: 1;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: yellow;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0a192f;
}


:hover {
  .experienceCardBackground {
    background-color: red;
  }
}


.descriptionTags {
  background-color: #193756;
  color: #4EC0C6;
  border: 2px solid #193756;
  border-radius: 9999px;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 766px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 15px;
  } 
}

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 50px;
  }
}

.grid__item {
  background-color: #0a192f;
  color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s ease;
  
  /* &:hover,
  &:focus {
    color: #1AFCFF;
  } */

  h2 {
    margin-top: 0;
  }

  ul {
    display: flex;

    li {
      margin-right: 10px;

      p {
        border: 1px solod #ccc;
        border-radius: 5px;
        padding: 5px 8px;
      }
    }
  }
}