@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  max-width: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  font-weight: 500;
  color: #6e80a8;
}

a {
  font-weight: 500;
  color: #c5d1ec;
  text-decoration: inherit;
}

h1 {
  color: #c5d1ec;
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  color: #c5d1ec;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  color: #c5d1ec;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* custom styles */
.anchorHoverStyles {
  &:hover {
    color: #30f5fc;
  }
}

.mh-50 {
  max-height: 50%;
}

.responsiveMediaPadding {
  padding-top: 3rem;

  @media only screen and (max-width: 768px) {
    padding-top: 1.5rem;
  }
}